/* ---- CSS Demo ---- */  
body{background-color: darkslategray;}
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*  --------------- Global Styles -----------------  */

body{  font-family: "Raleway", sans-serif;

    }

    header.primary{
        background-color:#3F59EB;
    }