/*  --------------- Utility Classes -----------------  */
.container {
    max-width: 2000px;
    width: 80vw;
    margin: 40px auto;
  }



  /*  --------------- Global Styles -------------------  */

body{
        font-family: "Jersey 15", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
body{background-color: darkolivegreen;}

body h1{
    text-align: center;
    font-size: 50px;
}

body h2{
    text-align: center;
    font-size: 40px;
}

body p{
    font-size: 30px;
    line-height: 2;
}

nav{
    text-align: center;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;
}

nav ul{
    list-style-type: none;
    line-height: 50px;
}
