/* ---- Segway ---- */  
/*  --------------- Responsive Images -----------------  */

img{
    max-width:100%;
 }

  /*  --------------- Global Styles -------------------  */
  body 
    {
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    
    body {background-color: rgb(169, 168, 168);}


 header.primary{
  background-image: url("../img/tech1104segway_13_700x479.jpg"); background-repeat: no-repeat;
  background-size: contain;
  height:800px;
  }

  header.primary h1 {
    font-size: 5.5rem;
    margin: 30px 0 0;
  }

  header.primary h2 {
    margin: 40px 0 0 0;
    color: rgb(255, 22, 22);
    font-size: 2.5rem;
  }
  header.primary ul li {
    list-style-type: none;
    margin: 30px auto;
    font-size: 1.5rem;
  }

    header.primary nav a {
      color: #fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 7.5px 10px;
      border-radius: 20px;
      transition: 0.4s;
  }

  header.primary nav a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
    section.container h2 {
      color: rgb(197, 20, 20);
      font-size: 1.6rem;
      text-align: center;
    }

    #content p {
      font-size: 1.4rem;
    }

    #content h3 {
      font-size: 1.6rem;
      color: #000000;
      background-color: brown;
      
    }

    #content h4 {
      font-size: 1.3rem;
      border-top:2px solid #c71818;
    }
    

    #content h5 {
      font-size: 1.3rem;
    }

    #content dl {
      font-size: 1.2rem;
    }












    
    @media screen and (max-width: 600px) {
      header.primary ul {
        flex-direction: column;
        gap: 10px;
        max-width: 250px;
        margin: auto;
      }
    }